/* General Pet container styling */
.Pet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.Pet:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Pet h3 {
    font-size: 1.5rem;
    margin: 8px 0px;
    color: #333;
}

.Pet p {
    margin: 4px 0;
    font-size: 1rem;
    color: #555;
}

.Pet img {
    width: 300px;
}